.add-course-form-container {
    display: flex;
    height: 80%;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2em;
}

.add-course-form-subcontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30em;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
}

.add-course-form-subcontainer > input {
    padding: 0.5em;
    height: 1.5em;
    width: 90%;
    max-width: 20em;
    margin: 1em;
    background-color: rgb(240,242,245);
    border: none;
    color: #000000;
    border-radius: 3px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Roboto Mono';
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
}

.add-course-form-subcontainer > input:focus {
    border: 1.5px rgb(127,138,167) solid;
}

.add-course-form-subcontainer > h2 {
    margin: 0.5em;
}

.img-icon {
    margin: 1em;
    transform: scale(2);
}

.add-course-form-subcontainer > button {
    padding: 0.5em;
    background-color: #4f9a94;
    margin: 1em;
    outline: none;
    border: none;
    font-family: 'Roboto Mono';
    font-weight: bolder;
    border-radius: 3px;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    cursor: pointer;
    transform: scale(1);
    transition: 0.1s ease;
}

.add-course-form-subcontainer > button:hover {
    transform: scale(1.1);
    background-color: #80cbc3;
}

.input-file-container {
    display: flex;
    height: 2em;
    flex-direction: column;
    justify-content: center;
    max-width: 17.5em;
    width: 100%;
    margin: 1em 0;
    border-radius: 3px;
    font-weight: bolder;
}

.input-file-subcontainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 0.8rem;
    font-family: 'Roboto Mono';
}

.input-file-subcontainer > input {
    width: 75%;
    padding: 0.5em;
    border-radius: 3px;
    margin: 0.5em auto;
    background-color: rgb(240,242,245);
}

.input-file-subcontainer > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}