.add-course-container {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.add-course-subcontainer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.add-course-subcontainer-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

.add-course-subcontainer-flex-column > button {
    margin: 0 auto;
    transform: scale(1.2);
    color: #000000;
    transition: 0.1s ease;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.add-course-subcontainer-flex-column > button:hover {
    transform: scale(1.4);
}

.add-course-subcontainer-flex-column > p {
    margin: 0 auto;
    padding: 1em;
    font-size: 1.1rem;
}