.cardSection-subcontainer {
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: auto;
    grid-gap: 15px;
    justify-items: center;
}


.newStyle-button {
    display: block;
    margin: 0px auto;
    padding: 5px;
    color: #000000;
    border: none;
    border-radius: 5px;
    background-color: #4f9a94;
    font-family: 'Roboto Mono';
    transform: scale(1);
    transition: 0.1s ease;
    cursor: pointer;
    outline: none;
}

.newStyle-button:hover {
    background-color: #80cbc3;
    transform: scale(1.1);
}

.link {
    text-decoration: none;
}