.register-form-subcontainer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
}

.register-form-subcontainer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    
}
.label-register {
    display: inline-block;
}
.input-register {
    margin: 5px 0px;
    display: block;
    padding: 8px;
    height: 20px;
    width: 250px;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    color: #000000;    
    border-radius: 3px;
    font-weight: bolder;
    border: none;
    background-color: rgb(240,242,245);
    font-family: 'Roboto Mono';
    outline: none;
}

.input-register-error {
    margin: 5px 0px;
    display: block;
    padding: 6.5px;
    height: 20px;
    width: 250px;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    color: #000000;    
    border-radius: 3px;
    border: 1.5px rgb(189,84,82) solid;
    font-weight: bolder;
    background-color: rgb(240,242,245);
    font-family: 'Roboto Mono';
    outline: none;
}



.button-submit {
    display: block;
    justify-self: left;
    padding: 5px;
    border-radius: 3px;
    background-color: #4f9a94;
    border: none;
    color: #000000;
    font-family: 'Roboto Mono';
    transform: scale(1);
    transition: 0.1s ease;
    cursor: pointer;
    outline: none;
}

.button-submit:disabled {
    display: none;
}

.button-submit:hover {
    transform: scale(1.1);
    background-color: #80cbc4;
}

.input-select-gender {
    border: none;
    background-color: rgb(240,242,245);
    display: block;
    padding: 8px;
    margin: 5px 0px;
    font-family: 'Roboto Mono';
    border-radius: 3px;
    font-family: 'Roboto Mono';
    font-weight: bolder;
    outline: none;
}

.input-select-gender-error {
    border: none;
    background-color: rgb(240,242,245);
    display: block;
    padding: 6.5px;
    border: 1.5px rgb(189,84,82) solid;
    margin: 5px 0px;
    font-family: 'Roboto Mono';
    border-radius: 3px;
    font-family: 'Roboto Mono';
    font-weight: bolder;
    outline: none;
}

.input-register:focus {
    padding: 6.5px;
    border: 1.5px rgb(127,138,167) solid;
}

.input-select-gender:focus {
    padding: 6.5px;
    border: 1.5px rgb(127,138,167) solid;
}

.network-error {
    display: inline-block;
    margin: 10px 0px;
    padding: 5px;
    background-color: rgb(189,84,82);
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}