.register-form-subcontainer {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}

.register-form-subcontainer-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    
}

.input-register {
    margin: 5px 0px;
    display: block;
    padding: 5px;
    height: 20px;
    width: 250px;
    border: 1px solid rgb(102,169,221);
    color:#000000;    
    border-radius: 2px;
    font-weight: bolder;
    font-family: 'Roboto Mono';
}

.button-submit {
    display: block;
    justify-self: left;
    padding: 5px;
    background-color: rgb(26,80,131);
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    font-family: 'Roboto Mono';
    transform: scale(1);
    transition: 0.1s ease;
    cursor: pointer;
}   

.button-submit:hover {
    transform: scale(1.1);
    background-color: rgb(86,172,224);
}