.dropdown-content {
    background-color: #ffffff;
    position: absolute;
    min-width: 100%;
    overflow: auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.7);
    box-shadow: 0 4px 4px rgba(0,0,0,.7);
    top: 100%;
    margin-top: 8px;
    z-index: 1;
}