.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.login-subcontainer {
    display: block;
    text-align: center;
    margin: 0px;
    background-color: #FFFFFF;
    padding: 25px;
    border: none;
    border-radius: 5px;
}

.link-to-create-user {
    cursor: pointer;
    text-decoration: none;
    margin: 0px 3px;
}