.login-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-subcontainer {
    display: block;
    text-align: center;
    margin: 0px;
    background-color:rgb(255,255,255);
    padding: 25px;
    border: none;
    border-radius: 5px;
}

.link-to-create-user {
    cursor: pointer;
    text-decoration: none;
    margin: 0px 6px;
}

.container-link {
    display: block;
    margin: 25px 0px;
}

.error-span {
    display: inline-block;
    color: rgb(189,84,82);
    margin: 0px auto;
    padding-top: 5px;
    font-size: 11px;
}

.to-home {
    display: inline-block;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    background-color: rgb(79,154,148);
    text-decoration: none;
    color: #000000;
}

.to-home:hover {
    background-color: #80cbc4;
}